@model SPOR.Models.GenericPageModel

@{
    ViewBag.Title = Model.Title;
}

<div>
    <p style="margin-top: 25px">
        <span class="h1 sage-title">@ViewBag.Title</span>
    </p>
</div>
<hr class="sage" />

<div class="media sage">
    <div class="media-left">
        <a href="@Url.Action("Tillandsia", "Flora")">
            <img class="media-object" src="~/Content/images/flora/tillandsia/tillandsia_tectorum.png" alt="Tillandsia">
        </a>
    </div>
    <div class="media-body">
        <div class="h2 media-heading sage">Tillandsia Collection</div>
        <span>
            Tillandsias (air plants) are plants that can grow without soil and can typically be found growing on trees in humid climates.
            I started a small collection a while back that is slowly growing as I find new and unique species.
            Here is an active list of my current collection.
        </span>
        <span style="font-style: italic"> - Last Updated on 5/24/2016</span>
    </div>
</div>

<div class="media sage">
    <div class="media-left">
        <a href="@Url.Action("Bonsai", "Flora")">
            <img class="media-object" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Japanese_White_Pine%2C_unknown-2007.jpg/220px-Japanese_White_Pine%2C_unknown-2007.jpg" alt="Bonsai">
        </a>
    </div>
    <div class="media-body">
        <div class="h2 media-heading sage">Bonsai</div>
        <span>
            Bonsai is the art of grooming trees and bushes into small miniature versions of themselves.
        </span>
        <span style="font-style: italic"> - Last Updated on 5/24/2016</span>
    </div>
</div>