@{
    ViewBag.Title = "Austin Wilson";
}

<div>
    <p style="margin-top: 25px">
        <span class="h1 sage-title">Austin Wilson</span>
        <span class="h3">- Senior Software Engineer</span>
    </p>
</div>
<hr class="sage" />

<p class="sage-paragraph h3">
    The purpose of this website is to stage my hobbies, projects, and work I do in my past time. <br/>
    I have been working in the software industry for several years now and have experienced many different programming languages.
    I lean towards being a <a href="http://codeup.com/what-is-a-full-stack-developer/" target="_blank">"full-stack"</a> developer 
    since I am always looking for new things to learn in my profession.
</p>

<p class="h2 sage-title">Current Works:</p>
<hr />

<br />
<br />
<br />
<br />
<br />
<br />