@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Title</h1>

@Html.TextBox(" ", string.Format("{0:d}", DateTime.Now.ToShortDateString()), new { @class = "datepicker" })


<button class="sage-button">A button element</button>