@model SPOR.Models.GenericPageModel

@{
    ViewBag.Title = Model.Title;
}

<div>
    <p style="margin-top: 25px">
        <span class="h1 sage-title">@ViewBag.Title</span>
    </p>
</div>
<hr class="sage" />