body.sage {
    font: "Trebuchet MS", sans-serif, bold;
    font-size: large;
    background-color: black;
    color: white;
}

hr.sage {
    border-color: #9fda58;
    border-style: solid;
    box-shadow: white 0 5px;
}

body.sage input,
.navbar-nav.sage li a {
    padding-left: 50px;
    color: black;
}

    .navbar-nav.sage li a:hover {
        color: white;
        text-shadow: black -1px -1px;
    }

    .navbar-nav.sage li a.current {
        color: orange;
        text-shadow: black -1px -1px;
        cursor: default;
    }

.sage-title {
    margin-top: 30px;
    color: #9fda58;
}

p.sage-paragraph::first-letter {
    color: #9fda58;
    font-size: 45px;
}

body.sage p a {
    color: #9fda58;
}

    body.sage p a:hover,
    body.sage p a:visited {
        color: #55FFFE;
    }

.sage-major header {
    margin-top: 2em;
}

.sage-minor header {
    margin-top: 1em;
}

#sagelogo {
    width: 50px;
    height: 50px;
    background: url("images/SageLogo_Thumbnail.png") 100px 0;
}

    #sagelogo:hover {
        background: url("images/SageLogo_Thumbnail.png") 0 0;
        cursor: pointer;
    }

    #sagelogo.current {
        background: url("images/SageLogo_Thumbnail.png") 50px 0;
        cursor: default;
    }

div.img {
    margin: 5px;
    border: 2px solid white;
    float: left;
    width: 218px;
}

    div.img:hover {
        border: 4px solid white;
        box-shadow: #9fda58 -5px -5px;
    }

    div.img img {
        width: 100%;
        height: 100%;
    }

div.desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: 15px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    text-align: center;
    color: black;
}

.media-heading.sage {
    color: #9fda58;
}

.media.sage div.media-left a img.media-object {
    width: 125px;
    height: 125px;
    border: 1px solid #9fda58;
}

    .media.sage div.media-left a img.media-object:hover {
        border: 4px solid #9fda58;
    }